/* General rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    list-style-type: none;
}

body {
    
}

.title {
    font-size: 60px;
}

/* Header */
header {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 1000;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 98%;
    margin: auto;
    
}

.nav-menu ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 18px;
}

.nav-menu ul li {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 15px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 10px;
}

/* Jumbotron section */
.background-color {
    position: relative;
}

.jumbotron {
    max-width: 60%;
    margin: auto;
    position: absolute;
    top: 200px;
    left: 20%;
}

.jumbotron-top {
    height: 34%;
}
#main-title {
    font-size: 80px;
}

.jumbotron-bottom {
    display: flex;
    justify-content: space-between;
    height: 66%;
}

.jumbotron-bottom .left {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;
}

.jumbotron-bottom .right {
    width: 55%;
    height: 100%;
}

/* Business plans section */
.business-plans-container {
    max-width: 50%;
    margin: auto;
    margin-top: 150px;
}

/* Radio buttons */
.radio-buttons {
    display: flex;
    gap: 20px;
}

.container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  }
  

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
      top: 5px;
      left: 5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: white;
  }

  /* Plans-wrapper */

  .plans-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .plan-cards {
    width: 30%;
    height: 100%;
  }

  .plan-cards-first-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: gray groove 1px;
  }

  .plan-cards-second-row {
    display: flex;
    justify-content: center;
    height: calc(100% - 41px);
  }

  .second-row-container {
    display: flex;
    width: 80%;
    height: 100%;
    background-color: aquamarine;
  }





/* DEBUG - - - - - DEBUG - - - - - DEBUG */

header {
    background-color: yellow;
}

.nav-menu {
    background-color: pink;
    border: 2px dotted black;
}

.nav-menu ul li {
    background-color: brown;
    border: 1px solid white;
    width: 100px;
    height: 50px;
}

/* JUMBOTRON SECTION */

.background-color {
    background-color: lightgray;
    height: 700px;
    width: 100%;
}

.jumbotron {
    background-color: rgb(224, 17, 17);
    height: 550px;
    border: 2px dotted black;
}

.jumbotron-bottom .left {
    background-color: rgb(201, 118, 17);
    border: 2px dotted white;

}

.jumbotron-bottom .right {
    background-color: rgb(201, 118, 17);
    border: 2px dotted white;

}

/* BUSINESS PLANS SECTION */

.business-plans-container {
    background-color: palegreen;
    height: 700px;
}

.plans-wrapper {
    width: 100%;
    background-color: olive;
    height: 80%;
  }

.plan-cards {
    width: 30%;
    height: 100%;
    background-color: #ccc;
    border: solid 1px black;
  }  