/* General rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    list-style-type: none;
}

body {
    font-family: 'Open Sans';
    font-size: 16px;
}

.line-divider {
    color: #ccc;
}

.short {
    width: 45px;
}
    /* Btn rules */
    .btn {
        padding: 10px 20px;
        text-decoration: none;
        text-align: center;
    }

    .btn.blue-btn {
        background-color: #2196F3;
        color: white;
    }

    .btn.white-btn {
      color: black;
      border: 1px solid black;
    }

    /* Font-size rules */

    .title {
        font-size: 40px;
    }

    .subtitle-font-size {
        font-size: 18px;
        font-weight: bold;
    }

    .price-font-size {
        font-size: 12px;
        font-weight: bold;
    }

    .month-subscription-font-size {
        font-size: 12px;
        color: #ccc;
    }

    .font-size--14 {
        font-size: 14px;
    }

/* Header */
header {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 1000;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 98%;
    margin: auto;
    
}

.nav-menu ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 18px;
}

.nav-menu ul li {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 15px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 10px;
}

/* Jumbotron section */
.background-color {
    position: relative;
}

.jumbotron {
    max-width: 60%;
    margin: auto;
    position: absolute;
    top: 200px;
    left: 20%;
}

.jumbotron-top {
    height: 40%;
}
#main-title {
    font-size: 80px;
}

.jumbotron-bottom {
    display: flex;
    justify-content: space-between;
    height: 60%;
}

.jumbotron-bottom .left {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;
}

.jumbotron-bottom .right {
    width: 55%;
    height: 100%;
}

.jumbotron-bottom .right img {
    height: 100%;
}

/* Business plans section */
.business-plans-container {
    max-width: 50%;
    margin: auto;
    margin-top: 150px;
}

/* Radio buttons */
.radio-buttons {
    display: flex;
    gap: 20px;
}

.container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
  }
  

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
      top: 5px;
      left: 5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: white;
  }

  /* Plans-wrapper */


  .plans-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .plan-cards {
    width: 31%;
    height: 100%;
  }

  .plan-cards-first-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: gray groove 1px;
  }

  .plan-cards-second-row {
    display: flex;
    justify-content: center;
    height: calc(100% - 41px);
  }

  .second-row-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    background-color: aquamarine;
  }

  .plans {
    margin: 10px 0;
  }

  .plans li {
    padding: 5px 0;
  }

  .plans-description {
    margin: 20px 0 50px;
  }

  .plans-description li {
    padding: 5px 0;
  }

  
  .second-row-container .btn.blue-btn {
    margin-bottom: 35px;
  }

  .second-row-container .line-divider.short {
    margin: 35px 0;
  }

  .checked-list {
    margin-bottom: 35px;
  }

  /* Horizontal plan card */

  .horizontal-plan-card {
    margin-top: 40px;
    width: 100%;
  }

  .plan-cards-second-row.horizontal {
    width: 93%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .horizontal-plan-left {
    width: 66.5%;
    height: 100%;
  }

  .horizontal-plan-right {
    width: 29.5%;
    height: 100%;
  }

  .horizontal-plan-right .btn.blue-btn {
    display: block;
    margin-top: 50px;
    margin-left: 10%;
  }
 
  .horizontal-plan-left .plans {
    margin-bottom: 60px;
  }

  /* Dropbox partner */

  .dropbox-partner {
    height: 600px;
    margin-top: 150px;
    display: flex;
  }

  .dropbox-partner-left {
    height: 100%;
    width: 60%;
  }

  .dropbox-partner-left img {
    max-width: 100%;
    max-height: 100%;
  }

  .dropbox-partner-right {
    width: 35%;
    margin-left: 40px;
  }

  .dropbox-partner-right span {
    display: block;
    margin-top: 40px;
  }

  .dropbox-partner-right p {
    margin: 30px 0;
  }

  .dropbox-business-container {
    max-width: 50%;
    margin: auto;
  }

  .dropbox-business-row {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .dropbox-business-col {
    width: 30%;
  }

  .dropbox-business-col img {
    max-height: 100%;
    max-width: 100%;
  }

  .dropbox-business-col p {
    margin-top: 30px;
  }

/* DEBUG - - - - - DEBUG - - - - - DEBUG - - - - - DEBUG */
header {
    background-color: yellow;
}

.nav-menu {
    background-color: pink;
    border: 2px dotted black;
}

.nav-menu ul li {
    background-color: brown;
    border: 1px solid white;
    width: 100px;
    height: 50px;
}

/* JUMBOTRON SECTION */
.background-color {
    background-color: lightgray;
    height: 700px;
    width: 100%;
}

.jumbotron {
    background-color: rgb(224, 17, 17);
    height: 550px;
    border: 2px dotted black;
}

.jumbotron-bottom .left {
    background-color: rgb(201, 118, 17);
    border: 2px dotted white;

}

.jumbotron-bottom .right {
    background-color: rgb(201, 118, 17);
    border: 2px dotted white;

}

/* BUSINESS PLANS SECTION */
.business-plans-container {
    background-color: palegreen;
}

.plans-wrapper {
    width: 100%;
    background-color: olive;
    height: 80%;
  }

.plan-cards {
    background-color: #ccc;
    border: solid 1px black;
  } 

.horizontal-plan-card {
    background-color: #ccc;
    border: solid 1px black;

}

/* DROPBOX BUSINESS SECTION */
.dropbox-business-container {
  background-color: lightpink;
}