/* General rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    list-style-type: none;
}

body {
    font-family: 'Open Sans';
    font-size: 16px;
    letter-spacing: 1px;
}

/* Icon rules */
.jumbotron-bottom .left i {
  transform: scale(2.5);
  margin-left: 8px;
}

.fa-solid {
  margin-right: 5px;
}

/* Lines rules */

.line-divider {
    color: #ccc;
    margin: 40px 0;
}

.short {
    width: 45px;
}

.medium {
  width: 130px;
}

.long {
  width: 100%;

}

    /* Btn rules */
    .btn {
        padding: 10px 18px;
        text-decoration: none;
        text-align: center;
    }

    .btn.blue-btn {
        background-color: #2196F3;
        color: white;
    }

    .btn.white-btn {
      color: black;
      border: 1px solid black;
    }

    .btn.borderless-btn {
      background-color: white;
      color: black;
    }

    /* Font-size rules */

    .title {
        font-size: 40px;
    }

    .subtitle-font-size {
        font-size: 18px;
        font-weight: bold;
    }

    .price-font-size {
        font-size: 12px;
        font-weight: bold;
    }

    .month-subscription-font-size {
        font-size: 12px;
        color: #ccc;
    }

    .font-size--14 {
        font-size: 14px;
    }

/* Header */
header {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 98%;
    margin: auto;
    
}

.nav-menu ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 18px;
}

.nav-menu ul li {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 15px;
    height: 50px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 10px;
}

.nav-menu ul li a img {
  margin-top: 5px;
}

/* Jumbotron section */
.background-color {
    position: relative;
    background-color: #b4c8e1;
    height: 750px;
    width: 100%;
}

.jumbotron {
    max-width: 60%;
    margin: auto;
    position: absolute;
    height: 600px;
    top: 200px;
    left: 20%;
}

.jumbotron-top {
    height: 40%;
}

h1#main-title {
    font-size: 80px;
    font-weight: bold;
}

.jumbotron-bottom {
    display: flex;
    justify-content: space-between;
    height: 60%;
}

.jumbotron-bottom .left {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;
}

.jumbotron-bottom .left .btn {
  width: 50%;
}

.jumbotron-bottom .right {
    width: 55%;
    height: 100%;
}

.jumbotron-bottom .right img {
    height: 100%;
}

/* Business plans section */
.business-plans-container {
    max-width: 50%;
    margin: auto;
    margin-top: 150px;
}

/* Radio buttons */
.radio-buttons {
    display: flex;
    gap: 20px;
    margin: 30px 0;
}

.container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
  }
  

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
      top: 5px;
      left: 5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: white;
  }

  /* Plans-wrapper */


  .plans-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .plan-cards {
    width: 31%;
  }

  .plan-cards-first-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: gray groove 1px;
  }

  .plan-cards-second-row {
    display: flex;
    justify-content: center;
    height: calc(100% - 41px);
    border: gray groove;
    border-width: 0 1px 1px 1px;
  }

  .second-row-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
  }

  .plans {
    margin: 10px 0;
  }

  .plans li {
    padding: 5px 0;
  }

  .plans-description {
    margin: 20px 0 50px;
  }

  .plans-description li {
    padding: 5px 0;
  }

  
  .second-row-container .btn.blue-btn {
    margin-bottom: 35px;
  }

  .checked-list {
    margin: 35px 0;
  }

  .checked-list li {
    margin-bottom: 20px;
    display: flex;
  }

  .checked-list li::before {
    content: url(../img/check-icon.svg);
    width: 15px;
    margin-right: 5px;
  }

  /* Horizontal plan card */

  .horizontal-plan-card {
    margin-top: 40px;
    width: 100%;
  }

  .plan-cards-second-row.horizontal {
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .horizontal-plan-left {
    width: 66.5%;
    height: 100%;
    margin: 3%;
  }

  .horizontal-plan-right {
    width: 29.5%;
    height: 100%;
    margin: 3%;
  }

  .horizontal-plan-right .btn.blue-btn {
    display: block;
    margin-top: 50px;
    margin-left: 10%;
  }
 
  .horizontal-plan-left .plans {
    margin-bottom: 60px;
  }

  /* Dropbox partner */

  .dropbox-partner {
    height: 600px;
    margin-top: 150px;
    display: flex;
  }

  .dropbox-partner-left {
    height: 100%;
    width: 60%;
  }

  .dropbox-partner-left img {
    max-width: 100%;
    max-height: 100%;
  }

  .dropbox-partner-right {
    width: 35%;
    margin-left: 40px;
  }

  .dropbox-partner-right span {
    display: block;
    margin-top: 40px;
  }

  .dropbox-partner-right p {
    margin: 30px 0;
  }

  .dropbox-business-container {
    max-width: 50%;
    margin: auto;
  }

  .dropbox-business-row {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .dropbox-business-col {
    width: 30%;
  }

  .dropbox-business-col img {
    max-height: 100%;
    max-width: 100%;
  }

  .dropbox-business-col p {
    margin-top: 30px;
  }

  .dropbox-business-clients {
    margin: 150px 0;
  }

  .dropbox-business-clients h2 {
    margin-bottom: 50px;
  }

  /* Slideshow section */

  .slideshow-container {
    width: 100%;
    background-color: rgb(236, 234, 234);
  }

  .slideshow-row {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .slideshow-col {
    width: calc(100% / 3); 
  }

  /* Left and right squares */
  .slideshow-inner-row {
    display: flex;
    height: 50%;
    width: 100%;
  }


  .col-square {
    height: 100%;
    width: 50%;
    position: relative;
    
  }

  .col-square img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
  }

  /* Middle square */
  .slideshow-col-container {
    width: 80%;
    height: 80%;
    margin: 10% 10%;
  }

  .slideshow-col-container img {
    width: 40%;
  }

  .slideshow-col-container p {
    margin-bottom: 50px;
  }

  /* Little squares background color */
  .col-square.square-1 {
    background-color: lightgreen;
  }

  .col-square.square-2 {
    background-color: brown;
  }

  .col-square.square-3 {
    background-color: #2196F3;
  }

  .col-square.square-4 {
    background-color: red;
  }


  /* AZURE CTA BOX */

  .azure-background {
    width: 100%;
    height: 400px;
    background-color: #b4c8e1;
  }

  .cta-container {
    max-width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cta-container h2 {
    color: darkred;
    width: 50%;
  }
  
/* FAQ SECTION */

.faq-container {
  max-width: 50%;
  height: 500px;
  margin: auto;
  display: flex;
  align-items: center;
}

.faq-wrapper {
  height: 70%;
  width: 100%;
}

.faq .line-divider.long {
  margin: 30px 0;
}

.faq-item {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

/* FOOTER */

footer {
  background-color: black;
  height: 500px;
  color: white;
}

.footer-container {
  width: 60%;
  height: 100%;
  margin: auto;
}

.footer-content-container {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-col {
  margin-top: 80px;
  color: white;
}

.footer-col span {
  display: block;
  margin-bottom: 20px;
}

.footer-col ul li a {
  line-height: 35px;
  text-decoration: none;
  color: white;
}

.page-lang {
  color: lightgray;
  font-size: 13px;
}
